<app-navbar></app-navbar>
<h1>Registro de listas</h1>
<div class="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre de la lista</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el nombre de la lista" [(ngModel)]="nombreLista">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Ingrese una descripción de la lista</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="descripcionLista"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Ingrese la imagen de la lista</label>
    <input type="file" class="form-control" id="exampleFormControlInput1" [(ngModel)]="imagenLista">
  </div>
  <button type="button" class="btn btn-outline-success" (click)="registraList()">Registrar lista</button>
</div>






