.gradient-custom-2 {
   /* 
  background:  linear-gradient(to right, #246bee, #365cd8, #dd8136, #b47745);*/
  animation-name: bgimage;
  animation-duration: 9s ;
  animation-iteration-count: infinite;
  background: url(https://yavirac.edu.ec/img/slider/instalacion2.png);
  background-size: cover;
  background-position: center;
  
  }


  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  .rounded-3 {
      box-shadow: 6px 6px 9px;
  }

  .text-center{
      margin-bottom: 1vw;
  }

  .btn.btn-primary.btn-block.fa-lg.mb-3 {
      background-color: #246bee;
      padding: 9px 3vw;
  }

  @keyframes bgimage {
    25%   {background-image:  url(https://yavirac.edu.ec/img/galeria/docentes.png); }
    50%   {background-image:  url(https://yavirac.edu.ec/img/slider/instalacion3.png); }
    75%  {background-image:  url(https://pbs.twimg.com/media/FgFt65pXEAQTlXq?format=jpg&name=large); }
}
